<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class="navbar-brand" }}{{navbarTitle}}{{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav">
        {{#link-to 'index' tagName="li" }}<a href="">Home</a>{{/link-to}}
        {{#link-to 'tutorial' tagName="li" }}<a href="">Tutorial</a>{{/link-to}}
        {{#link-to 'play' tagName="li" }}<a href="">Play</a>{{/link-to}}
        {{#link-to 'scoreboard' tagName="li" }}<a href="">Scoreboard</a>{{/link-to}}
        {{#link-to 'contacts' tagName="li" }}<a href="">Review Us</a>{{/link-to}}
        {{#link-to 'posts' tagName="li" }}<a href="">Reviews</a>{{/link-to}}
      </ul>
    </div>
  </div>
</nav>
