<div class=" jumbotron text-center">
  <h1 class="text-center">Welcome to TagMe!</h1>
  <div class="form-horizontal form-group form-group-lg row">
    <div class=" row-xs-10 col-xs-10  col-sm-offset-1 col-xs-offset-1 ">
      <div class="hashtagimg">
        <img src="/assets/images/hashtagbackground.jpg">
      </div>
      <p>Hey there! Do you need a way to avoid studying for finals?
        Or need something to do after finals? Then you need to play TagMe!
        TagMe is a fun game where you can guess the hashtags associated
        with each gif in order to score some points. Make sure to guess
        all of the hashtags before the timer runs out! Now stop reading this
        description and get to playing!</p>
      <div class="havefun">
        <p>Have fun tagging!</p>
      </div>
    </div>
  </div>
</div>
